### macOS ###
*.DS_Store

### Cliente ###
### Bower ###
bower_components
blog-cliente/www/libs
.bower-cache
.bower-registry
.bower-tmp


### Node ###
# Dependency directories
blog-cliente/node_modules
