<h1 class="text-center">Visualizar Posts</h1>

<div class="col-md-offset-2 col-md-8" ng-cloak>
  <a href="#/posts">voltar para todos os  post</a>


  <div class="panel panel-default">
    <div class="panel-heading">{{post.titulo}} <b>({{post.dono}})</b></div>
    <div class="panel-body">
      <p>
        {{post.conteudo}}
      </p>
      <small>{{post.dataPostagem | date:'hh:mm dd/MM/yyyy'}}</small>
    </div>
  </div>

  <div class="col-sm-12">
    <br>
    <b>Comentários: {{post.comentarios.length}}</b>
    <hr>

    <div class="media" ng-repeat="comentario in post.comentarios">
      <div class="media-left">
        <h2 class="media-object" style="padding-left:20px; padding-right:20px;"> {{comentario.usuario[0]}} </h2>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{comentario.usuario}} <small>({{comentario.dataComentario | date: 'hh:mm - dd/MM/yyyy'}})</small></h4>
        {{comentario.conteudo}}
        <hr>
      </div>
      <br>
    </div>

    <hr>
  </div>

  <div class="col-sm-12">
    <b>Responder.</b>
    <hr>
    <div>
      <label for="usuario">Digite seu nome:</label>
      <input type="text" ng-model="comentario.usuario" id="usuario" placeholder="Digite seu nome" class="form-control">
    </div>
    <br>
    <div>
      <label for="comentario">Digite seu comentario:</label>
      <textarea id="comentario" ng-model="comentario.conteudo" rows="4" class="form-control" placeholder="Faça seu comentário"></textarea>
    </div>
    <br>
    <div>
      <button type="button" ng-click="comentar(comentario)" name="comentar" class="btn btn-primary pull-right">Comentar</button>
    </div>
    <br><br><br><br><br><br>
  </div>



</div>
