<h1 class="text-center">Visualizar Posts</h1>

<div class="col-md-offset-2 col-md-8">
  <a href="#/usuario/{{usuario._id}}/posts">voltar para todos os  post</a>


  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <div ng-bind="post.titulo" ng-if="!postSendoEditado"></div>
        <div ng-if="postSendoEditado">
          <input type="text" class="form-control" ng-model="postEditado.titulo">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p ng-bind-html="post.conteudo" ng-if="!postSendoEditado"></p>
      <div ng-if="postSendoEditado" >
        <div text-angular ng-model="postEditado.conteudo" ></div>
        <br>
      </div>

      <small>{{post.dataPostagem | date:'hh:mm dd/MM/yyyy'}}</small>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <button ng-if="!postSendoEditado" ng-click="habilitarEdicao()" class="btn btn-default">Editar</button>
        <div ng-if="postSendoEditado">
          <button ng-click="cancelarEdicao()" class="btn btn-danger">Cancelar</button>
          <button ng-click="salvarEdicao(postEditado)" class="btn btn-primary">Salvar</button>
        </div>
      </li>
    </ul>
  </div>
  <br>


</div>
